/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/05/2014, 11:48:23
    Author     : mike-rg
*/
.fleft {
    float:left
}

.fright {
    float:right
}

.fcenter {
    float:none;
    text-align:center
}

.fclear {
    clear:both
}

body {
    margin:0;
    padding:0;
    background:#F3F2ED url(images/bg.png) repeat;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#464646
}

h1, h2, h3 {
    margin:0;
    text-transform:uppercase;
    font-weight:normal;
    color:#627599
}

h1 {
    text-decoration:none;
    text-transform:capitalize;
    font-size:30px;
    color:#627599
}

h2 {
    font-size:18px
}

p, ul, ol {
    margin-top:0;
    line-height:240%;
    text-align:justify
}

a {
    color:#4E832F
}

a:hover {
    text-decoration:none
}

a img {
    border:none
}

img.left {
    float:left;
    margin:7px 30px 0 0
}

img.right {
    float:right;
    margin:7px 0 0 30px
}

hr {
    display:none
}

#wrapper {}

#header_container {
    height:60px;
    background:#131313
}

#top {
    width:920px;
    margin:0 auto;
    position:relative
}

#menu ul {
    margin:0;
    padding:8px 0 0 0;
    list-style:none;
    line-height:normal
}

#menu li {
    background:url(images/img01.png) no-repeat left 10px;
    display:block;
    float:left
}

#menu a {
    display:block;
    float:left;
    height:32px;
    padding:14px 20px 0 20px;
    letter-spacing:2px;
    text-decoration:none;
    text-align:center;
    text-transform:lowercase;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    font-weight:normal;
    color:#fff
}

#menu a:hover {
    background-color: #627599;
    text-decoration:none
}

.menu {
    width:100%;
    height:60px;
    background:#131313 url(images/img01.png) no-repeat;
    top:0px;
    left:0px;
    position:fixed;
    padding-left:213px
}

.menu .current {
    background-color: #627599
}

#page {
    width:1000px;
    margin:0 auto;
    background:#fff url(images/img03.png) repeat-y left 20px
}

#page_bgtop {
    width:920px;
    margin:0 auto;
    padding:40px 40px 0 40px;
    background:url(images/img04.png) no-repeat left top
}

#logo {
    width:960px;
    height:150px;
    margin:0 auto;
    padding:10px 20px 0 20px;
    background:url(images/img-pio2.png) left bottom
}

#logo h1, #logo p {
    margin:0;
    line-height:normal;
    text-transform: capitalize;
    font-weight:normal;
    color:#fff
}

#logo p {
    margin-top:-4px;
    text-transform:lowercase;
    font-family:Georgia, "Times New Roman",Times,serif;
    font-size:13px;
    color:#fff
}

#logo h1 {
    font-size:48px
}

#logo a {
    text-decoration:none;
    color:#fff
}

#content {
    float:left;
    width:610px
}

.post {
    margin-bottom:5px;
    padding-bottom:15px
}

.post .title {
    height:44px;
    padding-top: 0.6em
}

.post .title a {
    text-decoration:none;
    text-transform:capitalize;
    font-size:30px;
    color:#627599
}

.post .meta {
    margin-left:2px;
    padding:4px 30px 2px 0;
    font-family:Arial,Helvetica,sans-serif;
    font-weight:normal;
    font-size:10px;
    color:#66665E
}

.post .meta span {
    margin:0
}

.post .meta a {
    text-decoration:none
}

.post .entry {
    padding:10px 0 0 0
}

#sidebar {
    float:right;
    width:240px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px
}

#sidebar ul {
    margin:0;
    padding:0 0 16px 0px;;
    list-style:none;
    line-height:normal
}

#sidebar li {
    margin-bottom:30px;
    padding:0 0 10px 0
}

#sidebar li ul {
    margin:0 0
}

#sidebar li li {
    margin:0;
    padding:10px 0 10px 20px;
    border-bottom:1px solid #E0E0E0;
    background:url(images/img05.png) no-repeat left 13px
}

#sidebar li li a {
    font-weight:normal
}

#sidebar li li a:hover {
    color:#666
}

#sidebar p {
    margin:0;
    padding:0 14px;
    border-left:10px solid #E0E0E0
}

#sidebar h2 {
    height:30px;
    margin:0 0 10px 0;
    padding:10px 0 0 0;
    text-transform:capitalize;
    font-size:18px;
    font-weight:normal;
    color:#627599
}

#sidebar p {
    line-height:200%
}

#sidebar a {
    text-align:left;
    text-decoration:none;
    font-weight:bold;
    color:#666
}

#sidebar li li a:hover {
    color:#64BC31
}

#footer {
    width:920px;
    height:150px;
    margin:0 auto;
    padding:30px;
    border-top:1px solid #E0E0E0
}

#footer-bgcontent {}

#footer p {
    margin:0;
    padding:30px 0 0 0;
    text-align:center;
    line-height:normal;
    font-size:12px
}

#fst-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 460px;
    text-align: left;
    border-collapse: collapse
}

#fst-table a {
    text-decoration: none;
    color: #66665E
}

#fst-table a:hover {
    color: #039;
    text-decoration: underline
}

#fst-table th {
    font-size: 13px;
    font-weight: normal;
    padding: 12px 15px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color:#627599
}

#fst-table td {
    padding: 8px 11px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #669
}

.odd{
    background: #e8edff
}

.even {
    background: #eff2ff
}

#fst-table #col_odd, #fst-table #col_even {
    background: #d0dafd;
    border-bottom: 1px solid #c8d4fd
}

#snd-table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 480px;
    text-align: left;
    border-collapse: collapse
}

#snd-table th
{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
    color:#627599
}

#snd-table td
{
    padding: 8px;
    color: #669
}

#snd-table .odd
{
    background: #e8edff
}
